.center {

    position: absolute;

    display: block;

    top: 25%;

    left: 25%;

    width: 327px;

    height: 537px;

    margin-top: -268px;

    margin-left: -163px;

}

input {

    position: absolute;

    top: 25%;

    left: 25%;

    width: 158px;

    height: 89px;

    font-size: 21px;

}

input:hover {
    border: 1px solid #888c90;
}
input#id0{
    margin-top: 486px;
    margin-left: 236px;
}
input#id1{
    margin-top: 395px;
    margin-left: 78px;
}
input#id2{
    margin-top: 395px;
    margin-left: 236px;
}
input#id3{
    margin-top: 395px;
    margin-left: 394px;
}
input#id4{
    margin-top: 304px;
    margin-left: 78px;
}
input#id5{
     margin-top: 304px;
     margin-left: 236px;
 }
input#id6{
    margin-top: 304px;
    margin-left: 394px;
}
input#id7{
    margin-top: 214px;
    margin-left: 78px;
}
input#id8{
     margin-top: 214px;
     margin-left: 236px;
 }
input#id9{
    margin-top: 214px;
    margin-left: 394px;
}
input#idx3 {
    margin-top: 395px;
    margin-left: -80px;
}
input#idx2 {
    margin-top: 304px;
    margin-left: -80px;
}
input#idX {
    margin-top: 214px;
    margin-left: 551px;
}
input#idShare {
    margin-top: 125px;
    margin-left: 551px;
}
input#clearAll {
    margin-top: 125px;
    margin-left: 236px;
}
input#idResult {
    margin-top: 486px;
    margin-left: 551px;
}
input#idPlus {
    margin-top: 395px;
    margin-left: 551px;
}
input#idMinus {
    margin-top: 304px;
    margin-left: 551px;
}


div#result {
    position: absolute;
    font-size: 42px;
    margin-top: 100px;
    margin-left: 950px;

}
div#archiv {
    position: absolute;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 350px;

}
div#znak {
    position: absolute;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 950px;

}
div#backup {
    position: absolute;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 1300px;
}
