.center {

    position: absolute;

    display: block;

    top: 25%;

    left: 25%;

    width: 327px;

    height: 537px;

    margin-top: -268px;

    margin-left: -163px;

}

button {

    position: absolute;

    top: 25%;

    left: 25%;

    width: 158px;

    height: 89px;

    font-size: 21px;

}
button:hover {

    border: 1px solid #888c90;

}
button#id0{
    margin-top: 486px;
    margin-left: 236px;
}
button#id1{
    margin-top: 395px;
    margin-left: 78px;
}
button#id2{
    margin-top: 395px;
    margin-left: 236px;
}
button#id3{
    margin-top: 395px;
    margin-left: 394px;
}
button#id4{
    margin-top: 304px;
    margin-left: 78px;
}
button#id5{
     margin-top: 304px;
     margin-left: 236px;
 }
button#id6{
    margin-top: 304px;
    margin-left: 394px;
}
button#id7{
    margin-top: 214px;
    margin-left: 78px;
}
button#id8{
     margin-top: 214px;
     margin-left: 236px;
 }
button#id9{
    margin-top: 214px;
    margin-left: 394px;
}